:root {
  --background-color: #212224;
  --text-white-color: #fff;
  --accent-color: #59abe6;
  --border-color: #424345;
  --hover-background-color: #424345;
  --table-heading-color: #bcbdbd;

  --font-family-montserrat: 'Montserrat', sans-serif;
  --font-family-oswald: 'Oswald', sans-serif;
}

*,
** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

body {
  background-color: #212224;
  color: var(--text-white-color);
  font-family: var(--font-family-oswald);
}

.table-wrapper {
  margin: 0 auto;
  overflow-x: auto;
  margin-top: 90px;
}

table {
  width: 1084px;
  border-collapse: collapse;
  margin-top: 5em;
  margin: 0 auto;
}

table th {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  color: var(--table-heading-color);
}

table img {
  width: 40px;
  height: 40px;
}

table td {
  border-bottom: 1px solid var(--border-color);
  font-family: var(--font-family-montserrat);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  padding: 1em 0;
}

table td:nth-child(1) div {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 10px;
  padding-left: 10px;
}
table tbody tr:hover {
  background-color: black;
}

table th {
  border-bottom: 1px solid var(--border-color);
}

table a {
  color: var(--accent-color);
  cursor: pointer;
}

table tbody td:first-child {
  min-width: 250px;
}

table thead th {
  cursor: pointer;
}

.load-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-family-oswald);
  background-color: transparent;
  color: var(--text-white-color);
  border-color: var(--border-color);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 8px;
  width: 120px;
  height: 40px;
  object-fit: contain;
  text-transform: uppercase;
}

.load-button:hover {
  background-color: var(--hover-background-color);
}

.character-detail-container {
  width: 720px;
  margin: 50px auto;
}

.character-detail {
  display: flex;
}

.character-about {
  display: flex;
  align-items: center;
}

.character-info-text {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-family-montserrat);
  line-height: 19px;
}
.m-top-bot18 {
  margin-top: 18px;
  margin-bottom: 18px;
}

.p-left-10 {
  padding-left: 10px;
}
.detail-h1 {
  font-size: 32px;
  font-weight: 400;
  font-family: var(--font-family-oswald);
}

.badge-wrapper {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: 1.4rem;
  align-items: center;
  padding: 0 0.5rem;
  padding-right: 0.601rem;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
}

.back-button {
  position: absolute;
  top: 65px;
  left: 300px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-family-oswald);
  line-height: 20.75px;
  text-transform: uppercase;
  color: var(--text-white-color);
  letter-spacing: 2px;
}

.detail-wrapper {
  display: flex;
  align-items: center;
  gap: 27px;
  justify-content: start;
  max-width: 300px;
}

.m-right {
  margin-right: 0.25rem;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.load-more-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.arrow-down-style {
  margin-right: 8px;
  width: 20px;
  height: 18px;
  font-weight: 400;
  font-size: 4px;
}

.character-origin {
  background-color: gray;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
}
