:root {
  --background-color: #212224;
  --text-white-color: #fff;
  --accent-color: #59abe6;
  --episode-color: #0d8cd2;
  --border-color: #424345;
  --hover-background-color: #424345;
  --table-heading-color: #bcbdbd;

  --font-family-montserrat: 'Montserrat', sans-serif;
  --font-family-oswald: 'Oswald', sans-serif;
}

*,
** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

body {
  background-color: #212224;
  color: var(--text-white-color);
  font-family: var(--font-family-oswald);
}

.table-wrapper {
  margin: 0 auto;
  overflow-x: auto;
  margin-top: 90px;
}

table {
  width: 1084px;
  border-collapse: collapse;
  margin-top: 5em;
  margin: 0 auto;
}

table::-webkit-scrollbar {
  display: none;
}
table th {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  color: var(--table-heading-color);
}

table img {
  width: 40px;
  height: 40px;
}

table td {
  border-bottom: 1px solid var(--border-color);
  font-family: var(--font-family-montserrat);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  padding: 1em 0;
}

table td:nth-child(1) div {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 10px;
  padding-left: 10px;
}
table tbody tr:hover {
  background-color: black;
}

table th {
  border-bottom: 1px solid var(--border-color);
}

table a {
  color: var(--accent-color);
  cursor: pointer;
}

table tbody td:first-child {
  min-width: 250px;
}

table thead th {
  cursor: pointer;
}

.load-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-family-oswald);
  background-color: transparent;
  color: var(--text-white-color);
  border-color: var(--border-color);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 8px;
  width: 120px;
  height: 40px;
  object-fit: contain;
  text-transform: uppercase;
}

.load-button:hover {
  background-color: var(--hover-background-color);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  flex-direction: column;
}

.character-detail-container {
  max-width: 720px;
  margin: 50px auto;
  width: 100%;
}

.back-button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.back-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-family-oswald);
  line-height: 20.75px;
  text-transform: uppercase;
  color: var(--text-white-color);
  letter-spacing: 2px;
  background-color: transparent;
}

.character-detail {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .flex-container {
    flex-direction: row;
    padding: 0 10px;
  }

  .character-detail {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .character-detail-container {
    margin: 70px auto;
  }
}

.character-about {
  display: flex;
  align-items: center;
}

.character-info-text {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-family-montserrat);
  line-height: 19px;
}
.m-top-bot18 {
  margin-top: 18px;
  margin-bottom: 18px;
}

.p-left-10 {
  padding-left: 10px;
}
.detail-h1 {
  font-size: 32px;
  font-weight: 400;
  font-family: var(--font-family-oswald);
  margin: 0;
}

.badge-wrapper {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: 1.4rem;
  align-items: center;
  padding: 0 0.5rem;
  padding-right: 0.601rem;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
}

.detail-wrapper {
  display: flex;
  align-items: center;
  gap: 27px;
  justify-content: start;
  max-width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.m-right {
  margin-right: 0.25rem;
}

.load-more-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.arrow-down-style {
  margin-right: 8px;
  width: 20px;
  height: 18px;
  font-weight: 400;
  font-size: 4px;
}

.character-origin {
  background-color: gray;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
}

.character-episodes-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.character-episodes-h3 {
  font-size: 12px;
  font-weight: 700;
  font-family: var(--font-family-montserrat);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 12px 0;
}

.character-episodes-span {
  background-color: var(--episode-color);
  color: white;
  border-radius: 5px;
  font-size: 11px;
  width: 23px;
  height: 23px;
  display: inline-block;
  text-align: center;
  line-height: 23px;
}

.character-episodes-names {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-family-montserrat);
  width: 100%;
}

@media (min-width: 1024px) {
  .character-episodes-names {
    width: 611px;
  }
}

.w-130 {
  width: 130px;
}

.bg-transparent {
  background-color: transparent;
}

.m-right30 {
  margin-right: 30px;
}

.ls-1 {
  letter-spacing: 1px;
}

.table-wrapper::-webkit-scrollbar {
  display: none;
}

.table-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
